@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* Custom Olive Green color palette based on #798b26 */
  --color-olive-50: #f8faf0;
  --color-olive-100: #eff4dd;
  --color-olive-200: #dfe9bb;
  --color-olive-300: #c7d988;
  --color-olive-400: #a9c452;
  --color-olive-500: #798b26;
  --color-olive-600: #616f1e;
  --color-olive-700: #495417;
  --color-olive-800: #3a4312;
  --color-olive-900: #313810;
  --color-olive-950: #1b1f09;
}


:root {
  --ui-color-primary-50: var(--color-olive-50);
  --ui-color-primary-100: var(--color-olive-100);
  --ui-color-primary-200: var(--color-olive-200);
  --ui-color-primary-300: var(--color-olive-300);
  --ui-color-primary-400: var(--color-olive-400);
  --ui-color-primary-500: var(--color-olive-500);
  --ui-color-primary-600: var(--color-olive-600);
  --ui-color-primary-700: var(--color-olive-700);
  --ui-color-primary-800: var(--color-olive-800);
  --ui-color-primary-900: var(--color-olive-900);
  --ui-color-primary-950: var(--color-olive-950);
  
  --ui-primary: var(--ui-color-primary-500);
}